@import "variables/global";
@import "reset";
@font-face {
    font-family: 'Furore';
    src: local('Furore'), url('../fonts/furore.woff2') format('woff2'), url('../fonts/furore.woff') format('woff'), url('../fonts/furore.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.app {
    min-height: 100vh;

}
