.WhyUs {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 115px;
  position: relative;
}

.whyUs {
  &_title {
    color: rgb(255, 255, 255);
    font-family: Furore;
    font-size: 80px;
    font-weight: 400;
    line-height: 92px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    &__container {
      width: 100%;
    }
    &__img {
      margin-left: 20px;
      width: 50px;
      transform: rotate(5.41deg);
    }
  }
  &_descr {
    &__containerRow {
      margin-top: 120px;
      position: relative;
      height: 400px;
      width: 90%;
      max-width: 1920px;
    }

    &__img {
      position: absolute;
      left: -200px;
      top: 110px;
      width: 210px;
    }

    &__zag {
      &_first {
        position: absolute;
        right: 300px;
        top: 0px;
        transform: rotate(140deg);
        z-index: 0;
      }
      &_second {
        position: absolute;
        left: 40%;
        bottom: 90px;
        z-index: 0;
      }
    }

    &__text {
      color: rgb(255, 255, 255);
      font-family: Play;
      font-size: 52px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 0%;
      text-align: center;
      position: absolute;
    }

    &__first {
      left: 0;
      top: 20px;
    }

    &__second {
      right: 0;
      top: 15px;
    }

    &__third {
      left: 380px;
      top: 130px;
    }

    &__fourth {
      left: -60px;
      bottom: 0;
    }

    &__fifth {
      right: 0;
      bottom: 60px;
    }
  }
}
